@import './basic-scss/normalize';
@import './basic-scss/fonts';
@import './basic-scss/const';
@import './basic-scss/mixins';
@import './basic-scss/wrappers';
@import './basic-scss/base';
@import './basic-scss/buttons';
@import './basic-scss/header';

#root {
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active {
  text-decoration: underline;
  cursor: default;
}
.main {
  margin-top: 50px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &.none {
    box-sizing: border-box;
    opacity: 0;
    width: 0;
    height: 0;
    font-size: 0;
    margin: 0;
    padding: 0;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 20px;
}

.score {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  height: 40px;
  overflow-x: hidden;
  line-height: 36px;
  font-size: 36px;
  color: #fc6262;
  &.none {
    box-sizing: border-box;
    opacity: 0;
    width: 0;
    height: 0;
    font-size: 0;
    margin: 0;
    padding: 0;
  }
}

.star-error,
.star-succes {
  flex-shrink: 0;
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-size: 40px 40px;
}

.star-error {
  background-image: url('../public/assets/img/star.svg');
}
.star-succes {
  background-image: url('../public/assets/img/star-win.svg');
}
